.btn {
  text-align: center;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  justify-content: center;
  flex: auto;
  background-color: #ad1eff;
  color: white;
}
.btn.btn-lg {
  font-size: 1.25rem;
  padding: 8px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}